*.mp4
transcript.txt
__pycache__
*.txt
inputfiles
!inputfiles/input-files-here.txt
!requirements.txt
outputfiles
!outputfiles/output-is-here.txt
*.mp4
*.gguf
Modelfile
*.csv
temp/*
build/
dist/
*egg*info
*.mp3
